html {
  font-size: 1rem;
  box-sizing: border-box; /* Easier to manage boxes add padding border etx */
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */

.grid-container {
  display: grid; /*responsive and flexible*/
  grid-template-areas:  /*Define Areas */
    "header"
    "main"
    "footer";

  grid-template-columns: 1fr; /* 1 fragment */
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  /* connecting areas to grid template */
  grid-area: header;
  background-color: rgb(30, 30, 104);
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: rgb(30, 30, 104);
  color: white; /* #ffffff*/
}

/* Common Classes */

h1 {
  font-size: 1.8rem;
  padding: 1 rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1 rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

.row {
  display: flex;
  flex-wrap: wrap; /* making responsive. If not enough space then appear on seperate lines */
  justify-content: space-between; /* maximum space b/w items */
  align-items: center; /* vertically centered */
}

.row.centre {
  justify-content: center;
}

/* header */

header a {
  color: #ffffff;
  padding: 1rem;
}

a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}

/* image */
img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 25rem;
  width: 100%;
}

/* card */

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  /* All direct child of card-body */
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
